* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button,
a,
li {
  cursor: pointer;
}

$white: #fff;
$black: #000;
$almost-white: hsl(0, 0%, 98%);
$gray: #686868;
$almost-black: #151515;
$mobile: 460px;
