// NAV DESKTOP
.nav-desktop__link--dropdown-featuers-links,
.nav-desktop__link--dropdown-company-links {
  display: none;
}

.nav-desktop__links {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}
// NAV MOBILE
.nav-mobile {
  display: none;
}
// IMG AND ICONS

#hamburger {
  display: none;
}
