// NAV DESKTOP
.nav-desktop{
  @media (max-width: $mobile) {
    display: none;
  }
}

.nav-desktop__link--dropdown-featuers-links,
.nav-desktop__link--dropdown-company-links {
  display: none;
}

.nav-desktop__links {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  &,
  & a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}
// NAV MOBILE
.nav-mobile {
  display: none;
}
// IMG AND ICONS

#hamburger {
  display: none;
  font-size: 36px;
  color: $black;
  @media (max-width: $mobile) {
    display: block;
  }
}

.desktop-login-register-container {
  @media (max-width: $mobile) {
    display: none;
  }
}